p { 
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}


.wrapper {
  margin: 64px auto;
  width: 900px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.timeline-bar {
  width: 100%;
  height: 2px;
  background-color: grey;
  border-radius: 2px;
}

.card {
  width: 300px;
  height: 220px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 32px 24px;
  position: relative;
  z-index: 3;
}

.profile-pic {
  width: 28px;
  height: 28px;
  background: #eee;
  border-radius: 28px;
  border: 4px solid #ffffff;
  position: absolute;
  top: -7px;
  left: -18px;
  /* box-shadow: -1px 1px 9px 1px rgba(0, 0, 0, 0.1); */
}

.pos-dot {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  bottom: -10px;
  margin-top: -11px;
  z-index: 5;
}

.timeline-wrapper {
  margin: 0 5%;
  position: relative;
}

.pos-dot .dot {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 10px;
  /* padding: 5px; */
  box-shadow: 0 0 0px 5px #0080005e;
}

.bar {
  display: block;
  height: 125px;
  width: 2px;
  background-color: green;
}

.stepsWrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.step {
  text-align: center;
  width: 100px;
}

.step:first-of-type {
  transform: translateX(-40px);
}

.step:last-of-type {
  transform: translateX(50px);  
}

.step .dot {
  width: 6px;
  height: 6px;
  background-color: gray;
  border-radius: 2px;
  position: relative;
  top: -4px;
}